<header class="header">
    <div class="logo-container">
        <a href="#" class="logo">RedSocial</a>
    </div>
    
    <nav class="nav-menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Mensajes</a></li>
            <li><a href="#">Notificaciones</a></li>
            <li><a href="#">Amigos</a></li>
        </ul>
    </nav>

    <div class="user-info">
        <a href="#" class="profile-icon">
            <img src="https://via.placeholder.com/40" alt="Perfil" class="profile-image">
        </a>
        <button  (click)="cerrarsesion()"  class="logout-btn">Cerrar sesión</button>
    </div>
</header>
