<div *ngIf="userData" class="profile-container">
    <!-- Banner de fondo -->
    <div class="banner-container">
        <img src="https://via.placeholder.com/1200x300" alt="Banner" class="banner-image">
    </div>

    <!-- Información del perfil -->
    <div class="profile-info">
        <!-- Foto de perfil -->
        <div class="profile-photo-container">
            <img src="{{userData.fotoUrl}}" alt="Foto de perfil" class="profile-photo">
        </div>

        <!-- Nombre, apellido, carrera y botón de editar -->
        <div class="profile-details">
            <h2 class="profile-name">{{userData.nombre}} {{userData.apellido}} </h2>
            <p class="profile-career">{{userData.carrera}}</p>
            <button class="edit-btn">Editar perfil</button>
        </div>
    </div>
</div>
