<div class="feed-container">
    <!-- Botón para crear nueva publicación -->
    <div class="create-post-btn">
        <button  (click)="crear()" class="create-btn">+ Crear publicación</button>
    </div>

    <!-- Publicaciones -->
    <div *ngFor="let p of userData" class="feed-post">
        <div class="post-header">
            <img src="{{p.fotoUrl}}" alt="Perfil" class="profile-image">
            <div class="post-info">
                <span class="author">{{p.nombre}}</span>
                <span class="post-date">Hace 2 horas</span>
            </div>
        </div>

        <!-- Imagen de la publicación -->
        <div class="post-image">
            <img src="{{p.imageUrl}}" class="image">
        </div>

        <!-- Descripción de la publicación -->
        <div class="post-description">
            <div class="post-actions">
                <button class="like-btn">❤️ Me gusta</button>
                <button class="comment-btn">💬 Comentar</button>
                <button class="share-btn">🔗 Compartir</button>
            </div>
            <p class="likes-count">234 me gusta</p>
            <p class="post-text">{{p.text}}</p>
        </div>
    </div>

  
</div>
